version: "3"
services:
  bot:
    build: .
    environment:
      NODE_ENV: development
      LOG_LEVEL: info
      TWITCH_USERNAME: username
      TMI_OAUTH_TOKEN: secret
      TWITCH_WORKING_CHANNEL: channel
